$color-primary: #37123C;
$color-primary-light: #71677C;
$color-secondary: #DDA77B;
$color-tertiary: #A99F96;
$color-quaternary: #945D5E;
$color-quaternary-light: #BFFFFA;
$color-quaternary-dark: #00A093;
$color-quinary: #81F499;

//https://coolors.co/37123c-71677c-a99f96-dda77b-945d5e