.Featured {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  &__title {
    width: 100%;
    text-align: center;
    font-size: 4rem;
  }

  &__gallery {
    width: 80%;
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    justify-content: space-between;

    &__image-box {
        min-width: 30%;
        height: 240px;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        margin: 0 7.5px 15px;
        overflow: hidden;
      
        &:hover {
          cursor: pointer;
      
          & .background-image {
            transform: scale(1.1);
            transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95)
          }
      
          & .content {
            opacity: 0.9;
          }
        }
      
      &__description {
        display: flex;
        flex-flow: column wrap;
        text-align: center;
        align-items: center;
        width: 100%;
        padding: 3rem;
      }

      &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
      .content {
        // height: 90px;
        height: 90px;
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        background-color: white;
        opacity: 0.7;
        position: absolute;
    
        .title {
          font-weight: bold;
          margin-bottom: 6px;
          font-size: 22px;
          color: #4a4a4a;
          text-transform: uppercase;
        }
    
        .subtitle {
          font-weight: lighter;
          font-size: 16px;
          text-transform: uppercase;
        }
      }
    
      .background-image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
      }
    }
  }

 
}
