.Featured{

    width: 100%;
    display: flex;
    flex-flow: row wrap;
    &__title {
        width: 100%;
        text-align:center;
        font-size: 4rem;
    }

    &__gallery {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        &__image-box {
            width: 30%;
            display: flex;
            flex-flow: row wrap;
            padding: 3rem;

            &__description{
                display: flex;
                flex-flow: column wrap;
                text-align: center;
                align-items: center;
                width: 100%;
                padding: 3rem;
            }


            &__image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }
    }
}